USE [master]
GO
/****** Object:  Database [StudentManagement] ******/
CREATE DATABASE [StudentManagement]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagement]
GO
/****** Object:  Table [dbo].[Classes] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [varchar](30) NOT NULL,
	[ClassName] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [varchar](30) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NULL,
	[BirthDate] [date] NULL,
	[Email] [varchar](100) NULL,
	[ClassID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrades] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrades](
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Mark] [decimal](4, 2) NULL,
	[ExamDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentAcademicReport] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_StudentAcademicReport] AS
SELECT 
    S.StudentID,
    S.StudentCode,
    S.FullName,
    C.ClassName,
    COUNT(G.SubjectID) AS TotalRegisteredSubjects,
    ROUND(AVG(G.Mark), 2) AS GPA
FROM Students S
LEFT JOIN Classes C ON S.ClassID = C.ClassID
LEFT JOIN StudentGrades G ON S.StudentID = G.StudentID
GROUP BY S.StudentID, S.StudentCode, S.FullName, C.ClassName; 
GO
/****** Object:  Table [dbo].[Subjects] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [varchar](30) NOT NULL,
	[SubjectName] [nvarchar](60) NOT NULL,
	[Credits] [int] NULL,
	[StudentCode] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [ClassCode], [ClassName]) VALUES (1, N'cntt01', N'công nghệ thông tin 1')
INSERT [dbo].[Classes] ([ClassID], [ClassCode], [ClassName]) VALUES (2, N'cntt02', N'công nghệ thông tin 2')
INSERT [dbo].[Classes] ([ClassID], [ClassCode], [ClassName]) VALUES (4, N'cntt03', N'công nghệ thông tin 3')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
INSERT [dbo].[StudentGrades] ([StudentID], [SubjectID], [Mark], [ExamDate]) VALUES (1, 3, CAST(8.50 AS Decimal(4, 2)), CAST(N'2026-08-07' AS Date))
INSERT [dbo].[StudentGrades] ([StudentID], [SubjectID], [Mark], [ExamDate]) VALUES (2, 3, CAST(7.00 AS Decimal(4, 2)), CAST(N'2026-08-07' AS Date))
INSERT [dbo].[StudentGrades] ([StudentID], [SubjectID], [Mark], [ExamDate]) VALUES (2, 4, CAST(9.00 AS Decimal(4, 2)), CAST(N'2026-08-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentCode], [FullName], [Gender], [BirthDate], [Email], [ClassID]) VALUES (1, N'SV01', N'Nguyễn Hữu Quang', 1, CAST(N'2005-02-09' AS Date), N'an.nv@uneti.com', 1)
INSERT [dbo].[Students] ([StudentID], [StudentCode], [FullName], [Gender], [BirthDate], [Email], [ClassID]) VALUES (2, N'SV02', N'Trần Thị Bích', 0, CAST(N'2003-08-20' AS Date), N'bich.tt@uneti.com', 4)
INSERT [dbo].[Students] ([StudentID], [StudentCode], [FullName], [Gender], [BirthDate], [Email], [ClassID]) VALUES (3, N'SV03', N'Lê Hoàng Cường', 1, CAST(N'2002-12-10' AS Date), N'cuong.lh@yahoo.com', 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectCode], [SubjectName], [Credits], [StudentCode]) VALUES (3, N'CS101', N'Lập trình C#', 4, NULL)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectCode], [SubjectName], [Credits], [StudentCode]) VALUES (4, N'DB201', N'Cơ sở dữ liệu SQL Server', 4, NULL)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectCode], [SubjectName], [Credits], [StudentCode]) VALUES (5, N'WEB301', N'Phát triển ứng dụng Web', 3, NULL)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Classes] ADD UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentGrades] ADD  DEFAULT (getdate()) FOR [ExamDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [Gender]
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrades_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentGrades] CHECK CONSTRAINT [FK_StudentGrades_Students]
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrades_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentGrades] CHECK CONSTRAINT [FK_StudentGrades_Subjects]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD CHECK  (([Mark]>=(0) AND [Mark]<=(10)))
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD CHECK  (([Credits]>(0)))
GO
USE [master]
GO